.titreBarre{
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}

.entete {
    background-image: url(https://fr.web.img6.acsta.net/c_310_420/pictures/24/03/06/17/37/5951205.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 220px;
}

h2{
    margin-left: 150px;
}
h4 {
    margin-left: 150px;
    margin-right: 150px;
}

.info-film {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis {
    position: absolute;
    left: 150px;
    top: 700px;
}


.info-film h2 {
    margin: 0;
    line-height: 2;
}

.titreBarre_2 {
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 800px;
}

.entete_2 {
    background-image: url(https://fr.web.img5.acsta.net/c_310_420/img/da/53/da532a6cdafc62cfbaf8ea389671a867.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 1050px;
}

.info-film_2 {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis_2 {
    position: absolute;
    left: 150px;
    top: 1550px;
}

.titreBarre_3 {
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 850px;
}

.entete_3 {
    background-image: url(https://fr.web.img3.acsta.net/c_310_420/img/e1/a1/e1a18fbc01bffba459850fdca101d231.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 1900px;
}

.info-film_3 {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis_3 {
    position: absolute;
    left: 150px;
    top: 2400px;
}

.titreBarre_4 {
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 900px;
}

.entete_4 {
    background-image: url(https://fr.web.img3.acsta.net/c_310_420/img/d0/cb/d0cb0b4ced261cb0c5d3e89e131c4b19.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 2825px;
}

.info-film_4 {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis_4 {
    position: absolute;
    left: 150px;
    top: 3325px;
}