.titreBarre{
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}

.entete {
    background-image: url(https://fr.web.img4.acsta.net/c_310_420/img/47/55/475531810cc6f30ca5d3816852e936b6.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 220px;
}

h2{
    margin-left: 150px;
}
h4 {
    margin-left: 150px;
    margin-right: 150px;
}

.info-film {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis {
    position: absolute;
    left: 150px;
    top: 700px;
}


.info-film h2 {
    margin: 0;
    line-height: 2;
}

.titreBarre_2 {
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 800px;
}

.entete_2 {
    background-image: url(https://fr.web.img6.acsta.net/c_310_420/img/96/28/9628cf1d589d9ba1f7a0f0cc84b3dd0a.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 1050px;
}

.info-film_2 {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis_2 {
    position: absolute;
    left: 150px;
    top: 1550px;
}

.titreBarre_3 {
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 850px;
}

.entete_3 {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6cc5e3d1-d182-4bd1-98af-27e4a992cea9/dhsnugq-3f06e513-1550-4450-98df-9a9f39b0c7b5.jpg/v1/fill/w_1280,h_1893,q_75,strp/les_schtroumpfs__film_2025__by_soyann2008_dhsnugq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTg5MyIsInBhdGgiOiJcL2ZcLzZjYzVlM2QxLWQxODItNGJkMS05OGFmLTI3ZTRhOTkyY2VhOVwvZGhzbnVncS0zZjA2ZTUxMy0xNTUwLTQ0NTAtOThkZi05YTlmMzliMGM3YjUuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.NW34gtkeMjURHemF8a3ewDs2wwZ0xVK5ol0A7XsIR5U);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 1900px;
}

.info-film_3 {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis_3 {
    position: absolute;
    left: 150px;
    top: 2400px;
}

.titreBarre_4 {
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 900px;
}

.entete_4 {
    background-image: url(https://fr.web.img6.acsta.net/c_310_420/pictures/24/02/14/18/43/1732202.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 2825px;
}

.info-film_4 {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis_4 {
    position: absolute;
    left: 150px;
    top: 3325px;
}

.titreBarre_5 {
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 950px;
}

.entete_5 {
    background-image: url(https://media.senscritique.com/media/000022512238/300/souviens_toi_l_ete_dernier.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 40%;
    position: absolute;
    right: 300px;
    top: 3825px;
}

.info-film_5 {
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 150px;
    z-index: 1;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}

.synopsis_5 {
    position: absolute;
    left: 150px;
    top: 4300px;
}